<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCalculator.CalculatorTest">
				<methods>
					<include name="Addition" />
					<include name="Combination" />
					<include name="Division" />
					<include name="Multiplication" />
					<include name="Subtraction" />
					<include name="Clear"/>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
